@import url('./utils.css');
/* Responsive Mobile */

@media screen and (max-width: 1300px) {

  nav {
    max-width: 90vw;
  }

  .first {
    flex-wrap: wrap;
  }

  .secImg img {
    width: 305px;
  }

  .secImg video {
    width: 305px;
  }

  .hero> :nth-child(1) {
    font-size: 32px;
  }

  .hero> :nth-child(2) {
    font-size: 18px;
  }

  .hero> :nth-child(3) {
    font-size: 18px;
  }

  .hero-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
  }

  .faq h2 {
    text-align: center;
    font-size: 32px;
  }

  footer {
    max-width: 90vw;
    padding: 75px 0;
  }

  .footer-item {
    align-items: center;
  }

}

@media screen and (max-width: 750px) {
  .nav-items {
    display: none;
  }
}

@media screen and (max-width: 1300px) {

  .footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
  }
}

@media screen and (max-width:1000px) {
  header {
    justify-content: space-between;
  }

  .slide img {
    object-fit: cover;
    overflow: hidden;
    width: 100%;
    border-radius: 0px;
  }

  .abt-img img {
    width: 100%;
    border-radius: 20px;
  }

  .container {
    margin: 0px;
  }
}

@media screen and (max-width:700px) {

  .wrapper,
  .slide {
    width: 100%;
    min-height: 100%;
  }

  .slide img {
    height: 50vh;
  }

  .slide h1 {
    font-size: 30px;
  }
}

@media screen and (max-width:500px) {
  .main{
    min-height: 900px;
  }
  
  .box{
    min-height: 900px;
  }
}